<!DOCTYPE html>
<link rel="stylesheet" href="/style.css">
<html>
<head>
    <title>Formulaire d'inscription</title>
</head>
<body>
<form action="addUser" method="post">
    <div classe="nom">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br>
    </div>

    <div classe="prenom">
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required><br>
    </div>

    <div classe="email">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required><br>
    </div>

    <div classe="mpd">
        <label for="mdp">Mot de passe :</label>
        <input type="password" id="mdp" name="mdp" required><br>
    </div>

    <div classe="submit">
        <input type="submit" value="S'inscrire">
    </div>
    <div>
        <p>Déjà inscrit? <a href="/index">Connecter-vous</a>.</p>
    </div>
</form>
</body>
</html>
